.footer{
    
    
    ul{
        padding: 2vw 5.6vw;
        width: 100%;
        margin: 8px;
        padding-bottom: 8px;
    }
    
    
    li{
        display: inline;
        float:left;
        width:300px;
        
    }
}

.duvida{
    display: flex;
    padding: 2vw 5.6vw;
    
    p{
        margin-right: 9px;
    }
}
