*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$corDeFundo: #181049;
$corTextoPrincipal: #FFFFFF;


body{
    background-color: $corDeFundo ;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    color: $corTextoPrincipal;
    font-weight: 400;
}

@mixin title($fontSize: 40px){
    @include text ($fontSize);
    color: $corTextoPrincipal;
    font-weight: 700;
    
}

.text--big{
    @include text(24px);
}

.text{
    @include text(20px);
}

.text--small{
    @include text;
}

.title--big{
    @include title(64px);
}

.title{
    @include title;
}

.title--small{
    @include title(32px)
}